<h1>Edit section</h1>

<% if @section.errors.any? %>
<h3>Please fix these errors:</h3>
<ul>
  <% @section.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @section do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.submit %>
<% end %>
